//These styles could be placed in App.vue or MainLayout but I think it's cleaner to store them in a separate file
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*  Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
   Create a root stacking context
*/
#root {
  isolation: isolate;
}
:root {
  /* Colors */
  --main-bg-color: #f3f4f9;
  --heading-text-color: #1a1a1a;
  --base-border-radius: 0.25rem;
  --accent-color: #1952e1;
  --accent-color-dark: #2e3e6e;
  --secondary-color: #9a9da4;
  --main-lighten-2-color: #63666e;
  --active-link-color: #33373c;
  --hover-element-bg-color: #f8f8fb;
  --error-text-color: red;

  /* Spacing and heights */
  --base-heading-height: 3.5rem;
  --main-wrapper-padding-block: 2.5rem;
  --main-wrapper-spacing: var(--main-wrapper-padding-block) 2rem;
  --main-heading-height: 2rem;
  --main-heading-bottom-spacing: 1.5rem;
  --select-bus-line-height: 13.5rem; //216px
  --select-bus-line-bottom-spacing: 1rem;
  --nav-spacing: 1.25rem;
  --nav-height: 4rem;
}

body {
  font-family: "Inter", sans-serif;
}
